<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="edts.base.android.feature_auth.ui.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="edts.base.android.feature_auth.ui.otp.OtpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="edts.base.android.feature_auth.ui.forgot.ForgotOtpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="edts.base.android.feature_auth.ui.forgot.ForgotResetPinActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="edts.base.android.feature_auth.ui.createpin.CreatePinActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="edts.base.android.feature_auth.ui.createpin.CreatePinConfirmationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="edts.base.android.feature_auth.ui.forgot.ForgotResetPinConfirmationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="edts.base.android.feature_auth.ui.loginpin.LoginPinActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="edts.base.android.feature_auth.ui.forgot.ForgotPinActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/forgot_pin_title"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>