<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="adilahsoft.jgo.android.feature_affiliate.list.CustomerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/affiliate_customer_list"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="adilahsoft.jgo.android.feature_affiliate.add.CustomerAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/affiliate_add_customer"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>